alabaster==1.0.0
anyio==4.8.0
argcomplete==3.4.0
attrs==23.2.1.dev0
autocommand==2.2.2
Babel==2.15.0
beautifulsoup4==4.12.3
breezy==3.3.9
Brlapi==0.8.6
btrfsutil==6.12
build==1.2.2
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
configobj==5.0.9
cryptography==44.0.0
CT3==3.3.3
distlib==0.3.9
distro==1.9.0
distro-info==1.10
dnspython==2.7.0
docutils==0.21.2
dulwich==0.22.7
ecdsa==0.19.0
fastbencode==0.3.1
fastjsonschema==2.21.1
filelock==3.16.1
filetype==1.2.0
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
imagesize==1.4.1
inflect==7.5.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
legacy-cgi==2.6.1
libfdt==1.7.2
libtorrent==2.0.10
libvirt-python==11.0.0
louis==3.32.0
lxml==5.3.0
MarkupSafe==2.1.5
mercurial==6.9.1
merge3==0.0.15
meson==1.6.1
more-itertools==10.5.0
nftables==0.1
oauthlib==3.2.2
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.2
patiencediff==0.2.15
pefile==2024.8.26
perf==0.1
platformdirs==4.3.6
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.1.1
pyasn1==0.6.0
pyasn1_modules==0.4.1
pycairo==1.27.0
pycparser==2.22
pygame==2.6.1
pygdbmi==0.11.0.0
Pygments==2.19.1
PyGObject==3.50.0
pymongo==4.10.1
pyotp==2.9.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
PySocks==1.7.1
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
selenium==4.28.1
sentry-sdk==2.20.0
setuptools==75.2.0
setuptools-scm==8.1.0
six==1.17.0
smbus==1.1
sniffio==1.3.1
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==8.1.3
sphinx_rtd_theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stevedore==5.4.0
TBB==0.2
tomli==2.0.1
tomlkit==0.13.2
toot==0.47.1
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
trove-classifiers==2025.1.7.14
twikit==2.2.2
typeguard==4.4.1
typing_extensions==4.12.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.3.0
urwid==2.6.15
validate==5.0.9
validate-pyproject==0.23.post1.dev0+gf45606b.d20250112
virtualenv==20.28.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
wcwidth==0.2.13
websocket-client==1.8.0
wheel==0.45.0
wsproto==1.2.0
